body {
    /*background-image: url('../img/background.png');
    background-size: cover;*/
}
.no-padding {
    padding: 0;
}
.home-inner-wrap {
    margin-top: 10px;
    position: relative;
    margin-left: 9%;
    height: 660px;
}
ul {
    list-style: none;
}
.home-inner-wrap ul li {
    display: inline;
}
.absolute {
    position: absolute;
}
nav li a:hover {
    background-position: 1px 1px!important;
}
a:hover {
    background-position: 1px 1px!important;
}
/*nav link image text*/
a.home-logo {
    background: url('../img/logo.png') no-repeat 0 0;
    position: absolute;
    top: 10px;
    width: 196px;
    height: 135px;

}
a.concept {
    background: url('../img/concept_text.png') no-repeat 0 0;
    position: absolute;
    top: 60px;
    width: 188px;
    left: 690px;
    height: 35px;

}
a.origin-text-home {
    background: url('../img/origin_text.png') no-repeat 0 0;
    position: absolute;
    top: 248px;
    width: 126px;
    left: 100px;
    height: 50px;
}
a.chef-text-home {
    background: url('../img/chef_text.png') no-repeat 0 0;
    position: absolute;
    top: 269px;
    width: 126px;
    left: 540px;
    height: 50px;
}
a.contact-text-home {
    background: url('../img/contact_text.png') no-repeat 0 0;
    position: absolute;
    top: 246px;
    width: 30px;
    left: 860px;
    height: 215px;
}
a.gallery-text-home {
    background: url('../img/gallery_text.png') no-repeat 0 0;
    position: absolute;
    top: 406px;
    width: 30px;
    left: 50px;
    height: 250px;
}
a.menu-text-home {
    background: url('../img/menu_text.png') no-repeat 0 0;
    position: absolute;
    top: 320px;
    width: 34px;
    left: 243px;
    height: 151px;
}
a.reservation-text {
    background: url('../img/reservations_text.png') no-repeat 0 0;
    position: absolute;
    top: 432px;
    width: 201px;
    left: 343px;
    height: 50px;
}
a.farm-to-plate-text-home {
    background: url('../img/farm_to_plate_text.png') no-repeat 0 0;
    position: absolute;
    top: 503px;
    width: 94px;
    left: 457px;
    height: 147px;
}
a.accolades-text-home {
    background: url('../img/accolades_text.png') no-repeat 0 0;
    position: absolute;
    top: 477px;
    width: 188px;
    left: 683px;
    height: 62px;
}
.fb {
    background: url('../img/fb.png') no-repeat 0 0;
    position: absolute;
    top: 616px;
    width: 29px;
    left: 800px;
    height: 28px;
}
.instagram {
    background: url('../img/instagram.png') no-repeat 0 0;
    position: absolute;
    top: 616px;
    width: 29px;
    left: 837px;
    height: 28px;
}
/*end nav link image text*/

/*nav non link image*/
.home-logo {
    position: absolute;
    top: 10px;
}
.bebek-home {
    position: absolute;
    top: 100px;
    left: 140px;
}
.pohon-home {
    position: absolute;
    top: 10px;
    left: 360px;
}
.penyaringan-home {
    position: absolute;
    top: 200px;
}
.jeruk-home {
    position: absolute;
    top: 235px;
    left: 290px;
}
.nanas-home {
    position: absolute;
    top: 102px;
    left: 651px;
}
.ikan-home {
    position: absolute;
    top: 308px;
    left: 107px;
}
.buah-kembar-home {
    position: absolute;
    top: 476px;
    left: 215px;
}
.jari-tangan-home {
    position: absolute;
    top: 331px;
    left: 555px;
}
.saringan-bola-home {
    position: absolute;
    top: 547px;
    left: 682px;
}
/*end nav non link image*/
.footer-home {
    border-top: 3px solid #484f64;
    width: 865px;
    margin-left: 140px;
}
.footer-home .text-left {
    display: inline-block;
    width: 180px;
}
.footer-home .text-right {
    display: inline-block;
    float: right;
    color: #484f64;
}
.footer-home .text-left h3 {
    margin-top: 10px;
    color: #484f64;
    font-family: serif;
}
.footer-home .text-right h4 {
    font-family: serif;
}
.h100 {
    height: 100%;
}
/*cheff page*/
.ikan-setengah-cheff-page {
    left: 160px;
}
.cheff-text-cheff-page {
    left: -10px;
    top: 140px;
}
a.back-to-menu-cheff-page {
    background: url('../img/back-to-menu-cheff-page.png') no-repeat 0 0;
    width: 81px;
    height: 213px;
    right: 50px;
    top: 60px;
}
a.back-to-home-cheff-page {
    background: url('../img/back-to-home-cheff-page.png') no-repeat 0 0;
    width: 194px;
    height: 50px;
    right: 40px;
    top: 675px;
}
.jeruk-setengah-cheff-page {
    right: 0;
    top: 420px;
}
.cheff-content {
    top: 187px;
    color: #484f64;
    font-family: serif;
}
/*end cheff page*/

/*concept page*/
.pohon-concept-page {
    top: 0;
    left: 0;
}
.concept-text-page {
    right: 0;
    top: 150px;
}
.buah-kembar-concept-page {
    right: 0;
    bottom: 0;
}
a.back-to-menu-concept-page {
    background: url('../img/back-to-menu-concept-page.png') no-repeat 0 0;
    width: 194px;
    height: 70px;
    left: 30px;
    top: 645px;
}
/*end concept page*/

/*contact page*/
.contact-map {
    padding-top: 80px;
}
.contact-map img {
    width: 100%;
}
.contact-text-contact-page {
    top: 77px;
    left: 13%;
}
.buah-kembar-contact-page {
    right: 0;
    top: 330px;
}
.ikan-contact-page {
    bottom: 0;
    right: 201px;
}
.jeruk-contact-page {
    left: 0;
    top: 588px;
}
.bebek-contact-page {
    left: 37px;
    top: 330px;
}
a.back-to-reservation-contact-page {
    background: url('../img/back-to-reservation-contact-page.png') no-repeat 0 0;
    width: 300px;
    height: 65px;
    right: 20px;
    top: 18px;
}
a.back-to-home-contact-page {
    background: url('../img/back-to-home-contact-page.png') no-repeat 0 0;
    width: 44px;
    height: 193px;
    right: 20px;
    top: 61px;
}
.footer-contact {
    height: 180px;
}
/*end contact page*/

/*menu page*/
.menu-text a {
    color: #484f64;
    text-decoration: none;
    font-family: serif;
}
/*end menu page*/