body {
	background-color:#beb4ab;
	height:100%;
}

.bg img {
	min-height:100%;
	min-width:1024px;
	
	height:auto;
	width:100%;
	
	left:0;
	top:0;
	position:fixed;
}

.container {
	height:780px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	width:1260px;
}

.ie8 .container {}
.ie7 .container {}
.ie6 .container {}

.chromeframe {
	font-size:14px;
	text-align:center;
}
.chromeframe a,.chromeframe a:visited {
	text-decoration:underline;
}
.chromeframe a:hover {
	text-decoration:none;
}

ul.scrollto {
	height:2340px;
	width:3780px;
	padding: 0px !important;
}

.main {
	height:980px;
	letter-spacing:1px;
	line-height:16px;
	position:relative;
	visibility:hidden;
	width:1260px;
	word-spacing:1px;
}

li {
	float:left;
}

.home-inner-wrap {
	margin-left: 0% !important;
}

.footer-home {
	width: 920px !important;
	margin-left: 0px !important; 
}

.index-page {
  display: table;
  margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.container {}
}