body {
	background-color:#beb4ab;
	height:100%;
}

.bg img {
	min-height:100%;
	min-width:1024px;
	
	height:auto;
	width:100%;
	
	left:0;
	top:0;
	position:fixed;
}

.container-hujan {
	height:800px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	/*width:1260px;*/
	width:1346px;
}

.ie8 .container {}
.ie7 .container {}
.ie6 .container {}

.chromeframe {
	font-size:14px;
	text-align:center;
}
.chromeframe a,.chromeframe a:visited {
	text-decoration:underline;
}
.chromeframe a:hover {
	text-decoration:none;
}

ul.scrollto {
	height: 2340px;
  	width: 4080px !important;
	padding: 0px !important;
}

.main {
	height:920px;
	letter-spacing:1px;
	line-height:16px;
	position:relative;
	visibility:hidden;
	/*width:1260px;*/
	width:1346px;
	word-spacing:1px;
}

li {
	float:left;
}

.home-inner-wrap {
	margin-left: 0% !important;
}

.footer-home {
	width: 920px !important;
	margin-left: 0px !important; 
}

.index-page {
  display: table;
  margin: 0 auto;
}

.slide-container {
	padding: 0px !important;
	/*margin-left: 0px !important;
	margin-right: 0px !important;*/
}

a.back-to-home-contact-page45 {
	background: url('../img/back-to-home-contact-page.png') no-repeat 0 0;
    width: 44px;
    height: 193px;
    right: 20px;
    top: 61px;
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

a.back-to-home-contact-page135 {
	background: url('../img/back-to-home-contact-page.png') no-repeat 0 0;
    width: 44px;
    height: 193px;
    right: 20px;
    top: 61px;
	-webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

a.back-to-home-accolades-page {
	top: 630px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.container {}
}